[gcode_macro sync_extruder]
gcode:
  SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder
  SYNC_EXTRUDER_MOTION EXTRUDER=extruder2 MOTION_QUEUE=extruder
  SYNC_EXTRUDER_MOTION EXTRUDER=extruder3 MOTION_QUEUE=extruder

[gcode_macro desync_extruder]
gcode:
  SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=
  SYNC_EXTRUDER_MOTION EXTRUDER=extruder2 MOTION_QUEUE=
  SYNC_EXTRUDER_MOTION EXTRUDER=extruder3 MOTION_QUEUE=

[gcode_macro M163]
description:
    Set a single mix factor (in proportion to the sum total of all mix
    factors). The mix must be committed to a virtual tool by M164 before
    it takes effect.
variable_factor_0: 0
variable_factor_1: 0
variable_factor_2: 0
variable_factor_2: 0
gcode:
    SET_GCODE_VARIABLE MACRO=M163 VARIABLE=factor_{params.S|int} VALUE={params.P}

[gcode_macro M164]
description:
    Save the factors set with M163 to the given virtual extruder. The virtual
    extruder 0 is the currently active extruder.
variable_virtual_mix_1: 0,0,0,0
variable_virtual_mix_2: 0,0,0,0
variable_virtual_mix_3: 0,0,0,0
variable_virtual_mix_4: 0,0,0,0
variable_virtual_mix_5: 0,0,0,0
variable_virtual_mix_6: 0,0,0,0
variable_virtual_mix_7: 0,0,0,0
variable_virtual_mix_8: 0,0,0,0
variable_virtual_mix_9: 0,0,0,0
gcode:
    {% set factors = printer["gcode_macro M163"] %}
    {% if params.S|default(0)|int > 0 %}
      SET_GCODE_VARIABLE MACRO=M164 VARIABLE=virtual_mix_{params.S|int|default(0)} VALUE={factors.factor_0},{factors.factor_1},{factors.factor_2}
    {% else %}
      SET_MIXING_EXTRUDER FACTORS={factors.factor_0}:{factors.factor_1}:{factors.factor_2} ENABLE=1
    {% endif %}

[gcode_macro M165]
description:
    Set the mix for the active virtual extruder all at once. Any factors
    left out are set to 0.0. The factors can either be defined by A,B,C
    directly defining the factors, by selecting a preset via P or loading
    a previous set virtual extruder with M164.
gcode:
    {% set idx = params.S|default(0)|int %}
    {% set preset = params.P|default(-1)|int %}
    {% if idx > 0 %}
      {% set mix = printer["gcode_macro M164"] %}
      SET_MIXING_EXTRUDER FACTORS={mix['virtual_mix_%d'%(idx)][0]}:{mix['virtual_mix_%d'%(idx)][1]}:{mix['virtual_mix_%d'%(idx)][2]} ENABLE=1
    {% elif preset >= 0 %}
      SET_MIXING_EXTRUDER PRESET={preset} ENABLE=1
    {% else %}
      SET_MIXING_EXTRUDER FACTORS={params.A|default(0)|float}:{params.B|default(0)|float}}:{params.C|default(0)|float}} ENABLE=1
    {% endif %}

[gcode_macro M166]
description:
gcode:
    {% set start_height = params.A|default(0.0)|float %}
    {% set end_height = params.Z|default(0.0)|float %}
    {% set start_extruder = params.I|default(-1)|int %}
    {% set end_extruder = params.J|default(-1)|int %}
    {% set enable = params.S|default(RESET) %}
    {% if start_height > 0 and end_height > 0 and start_extruder >= 0 and end_extruder >= 0 %}
      {% set mix = printer["gcode_macro M164"] %}
      ADD_MIXING_GRADIENT START_HEIGHT={start_height} END_HEIGHT={end_height} START_FACTORS={mix['virtual_mix_%d'%(start_extruder)][0]}:{mix['virtual_mix_%d'%(start_extruder)][1]}:{mix['virtual_mix_%d'%(start_extruder)][2]} END_FACTORS={mix['virtual_mix_%d'%(end_extruder)][0]}:{mix['virtual_mix_%d'%(end_extruder)][1]}:{mix['virtual_mix_%d'%(end_extruder)][2]}
      SET_MIXING_GRADIENT ENABLE={enable}
    {% elif enable != "RESET" %}
      SET_MIXING_GRADIENT ENABLE={enable}
    {% else %}
      RESET_MIXING_GRADIENT
    {% endif %}

[gcode_macro M567]
description:
    Set the mix for the active virtual extruder all at once. Any factors
    left out are set to 0.0. The factors are provided colon separated with
    the parameter E.
gcode:
    {% set weights = ((params.E|default("1:0:0:0"))+":0:0").split(":") %}
    SET_MIXING_EXTRUDER FACTORS={weights[0]}:{weights[1]}:{weights[2]}:{weights[3]} ENABLE=1

[gcode_macro unload_extruder_0]
description:
    Unload Filament from the zero extruder
gcode:
    {% set temp = params.TEMPERATURE|default(200) %}
    # Step 1: Set hotend temperature for unloading
    M104 S{temp} ; Set hotend temperature
    M109 S{temp} ; Wait for hotend to reach temperature

    # Step 2: set extruder 
    M567 E 1:0:0:0
    
    # Step 3: Retract filament
    G91                 ; Switch to relative positioning
    G1 E-10 F100        
    G1 E-600 F3000       
    G90                 ; Switch back to absolute positioning

    # Step 4: set extruder to default
    M567 E 0.25:0.25:0.25:0.25

    # Step 3: Optional cooling down
    M104 S0             ; Turn off hotend temperature
    M117 Filament Unloaded ; Display message

[gcode_macro load_extruder_0]
description:
    Unload Filament from the zero extruder
gcode:
    {% set temp = params.TEMPERATURE|default(200) %}
    # Step 1: Set hotend temperature for unloading
    M104 S{temp} ; Set hotend temperature
    M109 S{temp} ; Wait for hotend to reach temperature

    # Step 2: set extruder 
    M567 E 1:0:0:0
    
    # Step 3: Retract filament
    G91                 ; Switch to relative positioning
    G1 E10 F300        
    G1 E500 F3000       
    G1 E100 F300
    G90                 ; Switch back to absolute positioning

    # Step 4: set extruder to default
    M567 E 0.25:0.25:0.25:0.25

    # Step 3: Optional cooling down
    M104 S0             ; Turn off hotend temperature
    M117 Filament Loaded ; Display message

[gcode_macro unload_extruder_1]
description:
    Unload Filament from the zero extruder
gcode:
    {% set temp = params.TEMPERATURE|default(200) %}
    # Step 1: Set hotend temperature for unloading
    M104 S{temp} ; Set hotend temperature
    M109 S{temp} ; Wait for hotend to reach temperature

    # Step 2: set extruder 
    M567 E 0:1:0:0
    
    # Step 3: Retract filament
    G91                 ; Switch to relative positioning
    G1 E-10 F100        
    G1 E-600 F3000       
    G90                 ; Switch back to absolute positioning

    # Step 4: set extruder to default
    M567 E 0.25:0.25:0.25:0.25

    # Step 3: Optional cooling down
    M104 S0             ; Turn off hotend temperature
    M117 Filament Unloaded ; Display message

[gcode_macro load_extruder_1]
description:
    Unload Filament from the zero extruder
gcode:
    {% set temp = params.TEMPERATURE|default(200) %}
    # Step 1: Set hotend temperature for unloading
    M104 S{temp} ; Set hotend temperature
    M109 S{temp} ; Wait for hotend to reach temperature

    # Step 2: set extruder 
    M567 E 0:1:0:0
    
    # Step 3: Retract filament
    G91                 ; Switch to relative positioning
    G1 E10 F300        
    G1 E500 F3000       
    G1 E100 F300
    G90                 ; Switch back to absolute positioning

    # Step 4: set extruder to default
    M567 E 0.25:0.25:0.25:0.25

    # Step 3: Optional cooling down
    M104 S0             ; Turn off hotend temperature
    M117 Filament Loaded ; Display message

[gcode_macro unload_extruder_2]
description:
    Unload Filament from the zero extruder
gcode:
    {% set temp = params.TEMPERATURE|default(200) %}
    # Step 1: Set hotend temperature for unloading
    M104 S{temp} ; Set hotend temperature
    M109 S{temp} ; Wait for hotend to reach temperature

    # Step 2: set extruder 
    M567 E 0:0:1:0
    
    # Step 3: Retract filament
    G91                 ; Switch to relative positioning
    G1 E-10 F100        
    G1 E-600 F3000       
    G90                 ; Switch back to absolute positioning

    # Step 4: set extruder to default
    M567 E 0.25:0.25:0.25:0.25

    # Step 3: Optional cooling down
    M104 S0             ; Turn off hotend temperature
    M117 Filament Unloaded ; Display message

[gcode_macro load_extruder_2]
description:
    Unload Filament from the zero extruder
gcode:
    {% set temp = params.TEMPERATURE|default(200) %}
    # Step 1: Set hotend temperature for unloading
    M104 S{temp} ; Set hotend temperature
    M109 S{temp} ; Wait for hotend to reach temperature

    # Step 2: set extruder 
    M567 E 0:0:1:0
    
    # Step 3: Retract filament
    G91                 ; Switch to relative positioning
    G1 E10 F300        
    G1 E500 F3000       
    G1 E100 F300
    G90                 ; Switch back to absolute positioning

    # Step 4: set extruder to default
    M567 E 0.25:0.25:0.25:0.25

    # Step 3: Optional cooling down
    M104 S0             ; Turn off hotend temperature
    M117 Filament Loaded ; Display message

[gcode_macro unload_extruder_3]
description:
    Unload Filament from the zero extruder
gcode:
    {% set temp = params.TEMPERATURE|default(200) %}
    # Step 1: Set hotend temperature for unloading
    M104 S{temp} ; Set hotend temperature
    M109 S{temp} ; Wait for hotend to reach temperature

    # Step 2: set extruder 
    M567 E 0:0:0:1
    
    # Step 3: Retract filament
    G91                 ; Switch to relative positioning
    G1 E-10 F100        
    G1 E-600 F3000       
    G90                 ; Switch back to absolute positioning

    # Step 4: set extruder to default
    M567 E 0.25:0.25:0.25:0.25

    # Step 3: Optional cooling down
    M104 S0             ; Turn off hotend temperature
    M117 Filament Unloaded ; Display message

[gcode_macro load_extruder_3]
description:
    Unload Filament from the zero extruder
gcode:
    {% set temp = params.TEMPERATURE|default(200) %}
    # Step 1: Set hotend temperature for unloading
    M104 S{temp} ; Set hotend temperature
    M109 S{temp} ; Wait for hotend to reach temperature

    # Step 2: set extruder 
    M567 E 0:0:0:1
    
    # Step 3: Retract filament
    G91                 ; Switch to relative positioning
    G1 E10 F300        
    G1 E500 F3000       
    G1 E100 F300
    G90                 ; Switch back to absolute positioning

    # Step 4: set extruder to default
    M567 E 0.25:0.25:0.25:0.25

    # Step 3: Optional cooling down
    M104 S0             ; Turn off hotend temperature
    M117 Filament Loaded ; Display message
  
[gcode_macro G10]
gcode:
    {% set retract_length = printer['firmware_retraction'].retract_length %}
    {% set retract_speed = printer['firmware_retraction'].retract_length %}
    SAVE_GCODE_STATE NAME=_mixing_retract_state
    M83
    G1 E{-(retract_length|float)/3}:{-(retract_length|float)/3}}:{-(retract_length|float)/3}} F{retract_speed|float}
    RESTORE_GCODE_STATE NAME=_mixing_retract_state

[gcode_macro G11]
gcode:
    {% set retract_length = printer['firmware_retraction'].retract_length %}
    {% set retract_speed = printer['firmware_retraction'].retract_length %}
    SAVE_GCODE_STATE NAME=_mixing_retract_state
    M83
    G1 E{(retract_length|float)/3}:{(retract_length|float)/3}}:{(retract_length|float)/3}} F{retract_speed|float}
    RESTORE_GCODE_STATE NAME=_mixing_retract_state